<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
            <main class="blog-post-container container-fluid">

                <section class="blog-post-header">
                    <div class="row">
                    <div class="header-bg d-flex align-items-center">
                    <div class="container d-flex flex-column ">
                            <h1 class="align-self-center">"<%= quote %>"</h1>
                            <p class="align-self-end">- <%= quote_author %> -</p>
                        </div>
                    </div>
                </div>
                </section>
                <section class="blog-post">
                    <div class="row">
                        <div class="col-sm-3 offset-sm-1 col-md-3 offset-md-1 mx-3">
                            <a href="<%= source_url %>"><p class="back-button"><i class="fas fa-long-arrow-alt-left"></i> Take me back</p></a> 
                        </div>
                        <div class="post col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 post-container d-flex flex-column">
                            <h1 class="post-title align-self-center p-3"><%= post.title %></h1>
                            <p class="align-self-center">
                                <%= post.publish_date %>
                            </p>
                            
                            <div class="author-container d-flex mx-3">
                                <div class="headshot-container">    
                                    <img class="author-headshot" src="<%= post.author_headshot %>" alt="">
                                </div>   
                                <a class="author-link align-self-center" href="#"><p><%= post.author %></p></a>
                            </div>
                            <hr class="mb-4">
                            
                            <div class="post-content-container mx-2 d-flex align-items-center row">
                                <p class="post-content p-4 col col-12 col-xl-7">
                                    <%= postContent %>
                                </p>
                                <div class="post-photo-container col-12 col-xl-5">
                                    <img class="col" src="<%= post.photo %>" alt="">
                                </div>
                            </div>
                        </div>
                </section>
                
                <section class="add-comment">
                    <form class="commentForm col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" action="/blog/<%= post.slug %>" method="post">
                        <hr>
                        <h3><i class="fas fa-pen-nib"></i> Add a Comment</h3>
                        <p>We're happy for you to leave a comment that is appropriate and in line with our <a href="#">comments policy</a>. Please
                        try not to leave spam, as our links are all nofollow. Let's just have an interesting conversation.</p>
                        <div class="mb-3">
                            <input type="text" name="user" class="form-control" placeholder="Name" id="user" aria-describedby="user" required>
                            <input type="hidden" name="postId" id="postId" value="<%= post.id %>">
                            <input type="hidden" name="id" id="id" value="<%= id + 1 %>">
                        </div>
                        <div class="mb-3"></div>
                        <textarea class="form-control form-control-lg" name="content" id="content" cols="30" rows="3"
                            required></textarea>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Add Your Comment</button>
                        </div>
                        <hr class="mt-4">
                    </form>
                </section>

                <section class="blog-comments col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="blog-comments-container">
                    <% if (comments.length == 1) { %>
                        <h4 class="comment-count">1 Comment</h4>
                    <% } else { %>
                        <h4 class="comment-count"><%= comments.length %> Comments</h4>
                    <% } %>
                    <% comments.forEach(comment=> { %>
                        <p class="comment-username">
                            <%= comment.user %>
                        </p>
                        <p class="comment-date">Posted on: <%= comment.date %></p>
                        <p class="comment-content">
                            <%= comment.content %>
                        </p>
                        <a href="" class="replyComment btn btn-outline-primary btn-sml" type="button" data-bs-toggle="collapse" data-bs-target="#replyTo<%= comment.id %>" 
                            aria-expanded="false" aria-controls="collapseExample" data-comId="<%= comment.id %>">Reply</a>
                        <a href="" class="deleteComment btn btn-outline-danger" data-comId="<%= comment.id %>">Delete</a>

                        <div class="collapse" id="replyTo<%= comment.id %>">
                            <div class="">
                            <form class="reply-comment-form">
                                <div class="mb-3">
                                    <input type="text" name="user" class="form-control" placeholder="Name" id="user" aria-describedby="user" required>
                                    <input type="hidden" name="postId" id="postId" value="<%= post.id %>">
                                    <input type="hidden" name="id" id="id" value="<%= id + 1 %>">
                                </div>
                                <div class="mb-3">
                                <textarea class="form-control form-control-lg" name="content" id="content" cols="30" rows="3"
                                    required></textarea>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <hr class="comment-divider">
                        <% }); %>
                    </div>
                </section>

            </main>




            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>

                    <!-- <script>
                const trash = document.querySelector('a.deleteComment');
                console.log(trash.dataset.comId)
                trash.addEventListener('click', (e) => {
                    console.log(trash.dataset.comId);
                    const endpoint = fetch(`http://localhost:9000/comments?id=${trash.dataset.comId}`);
                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                    .then(() => {})
                    .catch(err => console.log(err));
                });

            </script> -->
    </body>

</html>