<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<main>
    <div class="post">
        <h1>Blog Post Details</h1>
        <h2><%= post.title %></h2>
        <h4><%= post.author %></h4>
        <p><%= post.content %></p>
    </div>
</main>


<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>

</body>
</html>