<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<main>
    <div class="posts">
        <h2>Blog Posts will be listed here</h2>

        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <h3><%= post.title %></h3>
                <p><%= post.author %></p>
                <!-- somehow here I need to pass the article id to the view.  -->
                <a href="/blog/<%= post.slug %>" class="btn btn-info">Read More</a>
            <% }); %>
        <% } else { %>
            <p>Sorry, but there are no articles to display.</p>
            <% } %>

    </div>
</main>


<%- include('./partials/footer.ejs') %>

<!-- <script type="application/javascript" src="/script.js"></script> -->
<%- include('./partials/scripts.ejs') %>


</body>
</html>