<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <meta name="description" content='Health Blog is a healthy living blog with lots of interesting articles about health, nutrition, healthy living
    and exercise.'>
<body>
    <%- include('./partials/nav.ejs') %>

<main class="flex-container">
    
    <section class="feature">
        <div class="container d-flex flex-column">
            <h1 class="main-heading dark-text">Welcome to this Health Blog</h1>
            <p class="lead">This is an interesting blog featuring lots of different articles about health, nutrition and longevity.
                It is designed to catch your attention in a calming manner. This area could also be used to display the most recent 
                blog article, but I'm using it currently as an introduction to the site as a whole. Either way, this is a short snippet 
                to entice the reader to stay longer and peruse the site.
            </p>
            <div  class="content-hint align-self-center d-flex flex-column">
                <a class="align-self-center d-flex flex-column" href="#firstSection">
                <h4 class="align-self-center" >Scroll down to learn more...</h4>
                <i class="fas fa-chevron-down align-self-center"></i>
                </a>
            </div>
        </div>
    </section>

    <section class="posts mt-4">
        <div class="container">
            <div id="firstSection" class="row post-row row-cols-1 row-cols-md-2 row-cols-lg-3">
                
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="col post-col mb-4 d-flex">
                <div class="card post-card rounded d-flex">
                    
                    <a href="/blog/<%= post.slug %>"><img src="<%= post.photo %>" class="card-img-top" alt="<%= post.title %>"></a>
                    <div class="card-body d-flex flex-column justify-content-between m-2">
                        <a class="post-title-link" style="text-decoration:none;" href="/blog/<%= post.slug %>"><h3 class="subheading dark-text card-title"><%= post.title %></h3></a>
                        <p class="author dark-text lead"><%= post.author %></p>
                        <p class="post-date dark-text lead"><%= post.publish_date %></p>
                        <!-- limit the content to a snippet of maybe 100chars -->
                        <p class="card-text"><%= post.description %></p> 
                        <a class="read-more dark-text btn btn-primary" href="/blog/<%= post.slug %>">Read More</a>
                    </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-md-4">
            <p>Sorry, but there are no articles to display.</p>
        </div>
            <% } %>
        </div>
        </div>
    </section>

</main>


<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>



</body>
</html>