<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<main class="flex-container">
    
    <section class="feature">
        <div class="container">
            <h1 class="main-heading dark-text">This is the Title of the Page.</h1>
            <p class="lead">This is an interesting featured blog, that is especially designed to catch your attention. Or perhaps the most 
                recent blog article goes here...? Either way, this is a short snippet to entice the reader to click and learn more about the 
                topic being discussed. 
            </p>
            <a class="btn btn-primary" href="#">Read More...</a>
        </div>
    </section>

    <section class="posts mt-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3">
                
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="col mb-4 d-flex">
                <div class="card rounded d-flex">
                    
                    <img src="../static/images/navbar-img3.jpg" class="card-img-top" alt="<%= post.title %>">
                    <div class="card-body d-flex flex-column justify-content-between m-2">
                        <h3 class="subheading dark-text card-title"><%= post.title %></h3>
                        <p class="author dark-text lead"><%= post.author %></p>
                        <p class="author dark-text lead"><%= post.publish_date %></p>
                        <!-- limit the content to a snippet of maybe 100chars -->
                        <p class="card-text"><%= post.content %></p> 
                        <a class="read-more dark-text btn btn-primary" href="/blog/<%= post.slug %>">Read More</a>
                    </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-md-4">
            <p>Sorry, but there are no articles to display.</p>
        </div>
            <% } %>
        </div>
        </div>
    </section>


</main>


<%- include('./partials/footer.ejs') %>


<%- include('./partials/scripts.ejs') %>


</body>
</html>