<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<main class="flex-container">
    
    <section class="feature">
        <div class="container">
            <h1 class="main-heading dark-text">This is the Title of the Page.</h1>
            <p class="lead">This is an interesting featured blog, that is especially designed to catch your attention. Or perhaps the most 
                recent blog article goes here...? Either way, this is a short snippet to entice the reader to click and learn more about the 
                topic being discussed. 
            </p>
            <a class="btn btn-primary" href="#">Read More...</a>
        </div>
    </section>
    <section class="posts">
        <div class="container">
            <div class="row">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="col-md-4">
                <h3 class="subheading dark-text lead"><%= post.title %></h3>
                <p class="author dark-text"><%= post.author %></p>
                <!-- somehow here I need to pass the article id to the view.  -->
                <a class="read-more dark-text btn btn-primary" href="/blog/<%= post.slug %>" class="btn btn-info">Read More</a>
            </div>
            <% }); %>
        <% } else { %>
            <div class="col-md-4">
            <p>Sorry, but there are no articles to display.</p>
        </div>
            <% } %>
        </div>
        </div>
    </section>
</main>


<%- include('./partials/footer.ejs') %>


<%- include('./partials/scripts.ejs') %>


</body>
</html>